@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:light,regular,bold,italic&subset=latin,latin-ext');
@import '../node_modules/font-awesome/css/font-awesome.css';
@import 'styles/vendors/bootstrap.min.css';
@import 'styles/vendors/bootstrap-theme.min.css';
@import '../node_modules/react-bootstrap-modal/lib/css/rbm-patch.css';

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif !important;
}
